.app {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;

    .place {
      color: rgb(128, 0, 139);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
      text-decoration: underline;
      text-decoration-thickness: 4px;
    }
  }

  .line {
    border: 1px solid rgba(109, 41, 141, 0.411);
    box-shadow: 1px 1px 4px rgba(63, 63, 63, 0.493);
    margin: 10px 20vw;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
}


